<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>YTRDX</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endblock %}
</head>

<body>
  <header>
    <div class="header-left">
      <a href="/">
        <b>
          YTRDX
        </b>
      </a>
      <span class="tagline">Heterodox Opinions About Everything</span>
    </div>
    <div class="header-right">
      <a href="{{ get_url(path='@/about/_index.md') }}">About</a>
      <a href="{{ get_url(path='@/coffee/_index.md') }}">Coffee</a>
      <a href="{{ get_url(path='rss.xml') }}">RSS</a>
    </div>
  </header>
  {% block content %} {% endblock %}
</body>

</html>
